/* style.css */
body {
    font-family: 'Times New Roman', serif;
    background-color: #f4f1ea;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, section, footer {
    padding: 20px;
    text-align: center;
}

#header-logo, .section-image {
    max-width: 100%; /* Ensures the image is no wider than its container */
    max-height: 300px; /* Limits the maximum height of the image */
    height: auto; /* Scales the height automatically to maintain aspect ratio */
    margin-bottom: 20px;
    display: block; /* Displays the image as a block-level element */
    margin-left: auto; /* Together with margin-right, centers the image horizontally */
    margin-right: auto;
}

header {
    background: #ccc;
    color: #000;
}

#inscriptions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#inscriptions-table th, #inscriptions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#inscriptions-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
}
